.login{
   
    color: white;
    font-size: 20px;
    font-weight: 400;
}
.container{
    position: absolute;
}
.navbg{
    background-color: #1c4a8f;
    }
.text{
    font-size: 20px;
    font-weight: 400;
}
.text1{
    font-size: 20px;
}


.menu1 li :hover{
    color: gold !important;
    transform: scale(1.2);
   
  }
